# The ID of your GitHub App
APP_ID=
WEBHOOK_SECRET=development

# Use `trace` to get verbose logging or `info` to show less
LOG_LEVEL=debug

# Go to https://smee.io/new set this to the URL that you are redirected to
WEBHOOK_PROXY_URL=

# Your OpenAI API key
OPENAI_API_KEY=

# Set to true if you have access to GPT-4, false if not
GPT_4_ACCESS=false